<nz-page-header [nzTitle]="pageHeader" nzBackIcon (nzBack)="voltar()">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Tarefas</nz-breadcrumb-item>
    <nz-breadcrumb-item>{{ breadcrumbItem }}</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<form [formGroup]="form" nz-form>
  <nz-card>
    <div nz-row [nzGutter]="[12, 2]">
      <div nz-col nzXs="48" nzSm="12" nzMd="12">
        <nz-form-item>
          <nz-form-control nzErrorTip="Por favor informe uma descrição">
            <nz-form-label nzFor="descricao" nzRequired
              >Descrição</nz-form-label
            >
            <input
              type="text"
              nz-input
              formControlName="descricao"
              placeholder="Informe a tarefa"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="48" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
        <nz-form-item>
          <nz-form-control nzErrorTip="Por favor informe uma data">
            <nz-form-label nzFor="data" nzRequired>Data</nz-form-label>
            <nz-date-picker
              nzFormat="dd/MM/yyyy"
              required
              formControlName="data"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="48" nzSm="12" nzMd="12" nzLg="6" nzXl="6">
        <nz-form-item>
          <nz-form-control nzErrorTip="Por favor informe o horário de inicio">
            <nz-form-label nzFor="horarioInicio" nzRequired
              >Horário de Inicio</nz-form-label
            >
            <input type="time" nz-input formControlName="horarioInicio" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="48" nzSm="12" nzMd="12" nzLg="6" nzXl="6">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="horarioFimError">
            <nz-form-label nzFor="horarioFim" nzRequired
              >Horário final</nz-form-label
            >
            <input type="time" nz-input formControlName="horarioFim" />
          </nz-form-control>

          <ng-template #horarioFimError let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Informe o horario final</ng-container
            >
            <ng-container *ngIf="control.hasError('horario')"
              >O horário final não pode ser menor que o horário
              inicial</ng-container
            >
          </ng-template>
        </nz-form-item>
      </div>

      <div nz-col nzXs="48" nzSm="12" nzMd="12" nzLg="6" nzXl="6">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label nzFor="duracao">Duração</nz-form-label>
            <input
              class="duracao"
              type="time"
              nz-input
              [readonly]="true"
              formControlName="duracao"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="48" nzSm="12" nzMd="12" nzLg="6" nzXl="6">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label nzFor="projeto" nzRequired>Projeto</nz-form-label>
            <nz-select
              nzShowSearch
              nzAllowClear
              formControlName="projeto"
              nzPlaceHolder="Selecione um projeto"
            >
              <nz-option
                *ngFor="let projeto of projetos"
                [nzLabel]="projeto.descricao"
                [nzValue]="projeto.id"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="48" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label nzFor="observacao">Observações</nz-form-label>
            <nz-textarea-count>
              <textarea
                nz-input
                rows="6"
                formControlName="observacao"
              ></textarea>
            </nz-textarea-count>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzJustify="space-between">
      <div nz-col nzXs="48" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <button nz-button nzType="default" (click)="cancel()">Cancelar</button>
        <button
          nz-button
          nzType="primary"
          (click)="editar()"
          style="float: right"
          *ngIf="editButtom"
        >
          Editar
        </button>
        <button
          nz-button
          nzType="primary"
          *ngIf="saveButtom"
          style="float: right"
          (click)="submitForm()"
        >
          Salvar
        </button>
      </div>
    </div>
  </nz-card>
</form>
