<nz-layout>
  <div class="main">
    <nz-content class="content">
      <div class="mainContent">
        <nz-card class="formCard">
          <nz-spin [nzSpinning]="isSpinning" nzTip="Enviando Dados...">
            <form nz-form [formGroup]="form" (ngSubmit)="submitForm()" class="loginForm">
              <h1>Cadastro de usuário </h1>
              <nz-form-item style="margin-bottom: 10px">
                <nz-form-control nzErrorTip="Informe o nome de usuário">
                  <nz-input-group nzPrefixIcon="user">
                    <input nz-input type="text" placeholder="Login" formControlName="username">
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item style="margin-bottom: 10px">
                <nz-form-control nzErrorTip="Informe a senha ">
                  <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
                    <input nz-input [type]="passwordVisible ? 'text' : 'password'" formControlName="password"
                      placeholder="password" />
                  </nz-input-group>
                </nz-form-control>

                <ng-template #suffixTemplate>
                  <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                    (click)="passwordVisible = !passwordVisible"></span>
                </ng-template>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control>
                  <nz-input-group nzPrefixIcon="mail">
                    <input type="email" nz-input formControlName="email" placeholder="E-mail">
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <button nz-button nzType="primary" class="loginButton">Enviar</button>

              <span>Já possui uma conta ? <a class="cadastrar" routerLink="../../login">Efetuar Login</a></span>
            </form>
          </nz-spin>
        </nz-card>
      </div>
    </nz-content>
    <div class="loginImagem">
      <img class="relogio" src="../../../assets/images/clock red.png" alt="Relógio">
      <h1 class="app_name">Gerenciador de Tarefas Dias</h1>
    </div>
  </div>

</nz-layout>
