<nz-page-header [nzTitle]="pageTitle">
</nz-page-header>

<form nz-from [formGroup]="form">
  <div nz-row [nzGutter]="[12, 2]">
    <div nz-col nzXs="48" nzSm="12" nzMd="12" nzLg="6" nzXl="6" style="margin-left: 2rem">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label nzFor="projeto">Projeto</nz-form-label>
          <nz-select nzAllowClear nzShowSearch formControlName="projeto" nzPlaceHolder="Selecione o projeto"
            (nzOnSearch)="listaSimplesProjeto()">
            <nz-option *ngFor="let projeto of listOfProjetos" [nzLabel]="projeto.descricao"
              [nzValue]="projeto.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="48" nzSm="12" nzMd="12" nzLg="6" nzXl="6">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label nzFor="cliente">Cliente</nz-form-label>
          <nz-select nzShowSearch nzAllowClear formControlName="cliente" nzPlaceHolder="Selecione o cliente">
            <nz-option *ngFor="let cliente of clientes" [nzLabel]="cliente.razaoSocial"
              [nzValue]="cliente.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="48" nzSm="12" nzMd="12" nzLg="6" nzLg="6">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label nzFor="status">Status</nz-form-label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecione o status" formControlName="status"
            (nzOnSearch)="listaStatus()">
            <nz-option *ngFor="let status of listStatus" [nzLabel]="status.descricao" [nzValue]="status.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="48" nzSm="4" nzMd="4" nzLg="4" nzXl="4" style="margin-top: 30px">
      <button nz-button nzType="primary" (click)="filtrar()">Filtrar</button>
    </div>

  </div>
</form>

<br />

<nz-card>
  <nz-spin [nzSpinning]="isSpinning" nzTip="Carregando dados...">
    <nz-table #projetos nzBordered [nzData]="listOfData">
      <thead>
        <tr>
          <th nzWidth="450px">Descrição</th>
          <th>Cliente</th>
          <th>Data Inicio</th>
          <th nzAlign="center" nzWidth="80px">Status</th>
          <th nzAlign="center" nzWidth="150px">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of projetos.data">
          <td nzWidth="450px">{{ data.descricao }}</td>
          <td>{{ data.cliente?.razaoSocial }}</td>
          <td>{{ data?.data_Inicio }}</td>
          <td nzAlign="center">
            <nz-tag *ngIf="data.status?.descricao == 'Em Andamento'"
              [nzColor]="'geekblue'">{{data.status?.descricao}}</nz-tag>
            <nz-tag *ngIf="data.status?.descricao == 'A Fazer'" [nzColor]="'red'">{{data.status?.descricao}}</nz-tag>
            <nz-tag *ngIf="data.status?.descricao == 'Finalizado'"
              [nzColor]="'green'">{{data.status?.descricao}}</nz-tag>
            <nz-tag *ngIf="data.status?.descricao == 'Em Atraso'"
              [nzColor]="'magenta'">{{data.status?.descricao}}</nz-tag>
            <nz-tag *ngIf="data.status?.descricao == 'Ativo'" [nzColor]="'cyan'">{{data.status?.descricao}}</nz-tag>
            <nz-tag *ngIf="data.status?.descricao == 'Inativo'"
              [nzColor]="'volcano'">{{data.status?.descricao}}</nz-tag>
            <nz-tag *ngIf="data.status?.descricao == 'Excluido'"
              [nzColor]="'purple'">{{data.status?.descricao}}</nz-tag>

          </td>
          <td nzAlign="center">
            <button nz-button nzType="primary" nzSize="small" nz-tooltip nzTooltipTitle="Visualizar"
              nzTooltipPlacement="top" (click)="visualizarProjeto(data.id)">
              <span nz-icon nzType="eye"></span>
            </button>

            <button nz-button nzType="default" nzSize="small" nz-tooltip nzTooltipTitle="Editar"
              nzTooltipPlacement="top" (click)="editarProjeto(data.id)">
              <span nz-icon nzType="edit"></span>
            </button>

            <button nz-button nzType="primary" nzSize="small" nzDanger nz-tooltip nzTooltipTitle="Excluir"
              nzTooltipPlacement="top" (click)="deleteProjeto(data.id)">
              <span nz-icon nzType="delete"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-spin>

  <div nz-row [nzGutter]="[12, 2]">
    <div nz-col nzXs="48" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
      <button nz-button nzType="primary" style="margin-top: 20px" (click)="novoProjeto()">
        Novo Projeto <span nz-icon nzType="plus"></span>
      </button>
    </div>
  </div>
</nz-card>
