:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  background-color: #101a32;
  color: #fff
}

::ng-deep .ant-menu-submenu .ant-menu-submenu-inline .ant-menu-submenu-open {
  background: #101a32 !important;
}

.header-trigger {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
  color: #2c2b2b;
}

.trigger:hover {
  color: #1890ff;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.imagem_perfil {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.username {
  margin-left: 10px;
  margin-top: 10px;

}

.avatar>p {
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 500;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0;
  background-color: #fff;
  color: #2c2b2b;
}

.logout {
  float: right;
  margin-right: 30px;
  color: #2c2b2b;
  font-weight: bold;
}

nz-content {
  margin: 24px;
  overflow: hidden;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
  overflow-x: none;
}

.trigger {
  padding: 20px 24px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
  color: #2c2b2b;
}

.trigger:hover {
  color: #1890ff;
}

.app-layout {
  min-height: 100vh;
  height: auto;
}

::ng-deep .ant-input[disabled] {
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.85) !important;
  border: none !important;
  border-bottom: 1px solid rgba(209, 209, 209, 0.35) !important;
}

::ng-deep .ant-input-affix-wrapper-disabled {
  color: rgba(0, 0, 0, 1) !important;
  background-color: #fff !important;
  border: none !important;
  border-bottom: 1px solid rgba(209, 209, 209, 0.35) !important;
}

::ng-deep .ant-input-affix-wrapper-disabled .ant-input[disabled] {
  border: none !important;
}

::ng-deep .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  color: rgba(0, 0, 0, 1);
  background: #fff !important;
  border: none !important;
  border-bottom: 1px solid rgba(209, 209, 209, 0.35) !important;
}

::ng-deep .ant-select-disabled.ant-select-multiple .ant-select-selection-item {
  color: rgba(0, 0, 0, 0.85) !important;
}

::ng-deep .ant-checkbox-disabled+span {
  color: rgba(0, 0, 0, 0.85);
}

::ng-deep .ant-checkbox-disabled {
  border: none !important;
  border-bottom: 1px solid rgba(209, 209, 209, 0.35) !important;
}

::ng-deep .ant-picker.ant-picker-disabled {
  background-color: #fff !important;
  border: none !important;
  border-bottom: 1px solid rgba(209, 209, 209, 0.35) !important;
}

::ng-deep .ant-picker-input>input[disabled] {
  color: rgba(0, 0, 0, 0.85) !important;
}

::ng-deep .ant-radio-button-wrapper-disabled.ant-radio-button-wrapper-checked {
  color: rgba(0, 0, 0, 0.85) !important;
}

::ng-deep .ant-back-top {
  right: 10px !important;
}
