<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="#" target="_blank">
        <img src="../assets/images/Gerenciar Tarefas.ico" alt="logo" />
        <h1>Gerenciador de Tarefas</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzTitle="Usuários" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="usuarios/lista">Usuarios</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Tarefas" nzIcon="book">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="tarefas/listagem">Tarefas</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Projetos" nzIcon="project">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="projetos/listagem">Projetos</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Clientes" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="clientes/lista">Clientes</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
