<nz-page-header nzTitle="Listagem de Tarefas">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Tarefas</nz-breadcrumb-item>
    <nz-breadcrumb-item>Listagem</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<nz-modal [nzVisible]="modalVisible" nzTitle="Calcular Horas Trabalhadas" [nzContent]="modalContent"
  [nzOkText]="'Calcular'" (nzOnCancel)="closeModal()" (nzOnOk)="calcularHorasTrabalhadas()">
  <ng-template #modalContent>
    <form [formGroup]="formHoras" nz-form nzLayout="horizontal">
      <div nz-row [nzGutter]="[12, 2]">
        <div nz-col nzXs="48" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <nz-form-item>
            <nz-form-control>
              <nz-form-label nzFor="data" nzRequired>Data</nz-form-label>
              <nz-date-picker formControlName="data" nzPlaceHolder="Selecione a data"
                nzFormat="dd/MM/yyyy"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="48" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <nz-form-item>
            <nz-form-control>
              <nz-form-label nzFor="horas">Total de Horas Trabalhadas</nz-form-label>
              <input type="text" nz-input formControlName="horas" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-template>
</nz-modal>
<form [formGroup]="form" nz-form nzLayout="horizontal">
  <div nz-row [nzGutter]="[8, 2]" class="row-filter-style">
    <div nz-col nzXs="48" nzSm="12" nzMd="12" nzLg="4" nzXl="4" style="margin-left: 20px">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label nzFor="descricao">Descrição</nz-form-label>
          <input type="text" nz-input formControlName="descricao" placeholder="Digite a descrição da tarefa" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="48" nzSm="12" nzMd="12" nzLg="4" nzXl="4">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label nzFor="periodo">Periodo</nz-form-label>
          <nz-range-picker nzFormat="dd/MM/yyyy" formControlName="periodo"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="48" nzSm="12" nzMd="12" nzLg="4" nzXl="4">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label nzFor="projeto">Projeto</nz-form-label>
          <nz-select formControlName="projeto" nzPlaceHolder="Selecione o projeto" nzShowSearch nzAllowClear
            (nzOnSearch)="listaProjetos()">
            <nz-option *ngFor="let projeto of projetos" [nzLabel]="projeto.descricao"
              [nzValue]="projeto.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="48" nzSm="12" nzMd="12" nzLg="2" nzXl="2" class="button-filter">
      <button nz-button nzType="primary" (click)="filtrar()">Filtrar</button>
    </div>
  </div>
</form>

<nz-card>
  <nz-spin nzTip="Carregando Dados..." [nzSpinning]="isSpinning">
    <nz-table #tarefasTable [nzData]="tarefas">
      <thead>
        <tr>
          <th>Descrição</th>
          <th nzAlign="center" nzWidth="150px">Horário Inicio</th>
          <th nzAlign="center" nzWidth="150px">Horário Fim</th>
          <th nzAlign="center" nzWidth="150px">Duração</th>
          <th nzAlign="center" nzWidth="150px">Data</th>
          <th nzAlign="center" nzWidth="150px">Projeto</th>
          <th nzAlign="center" nzWidth="150px">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarefa of tarefasTable.data">
          <td>{{ tarefa.descricao }}</td>
          <td nzAlign="center">{{ tarefa.horarioInicio | date : "HH:mm" }}</td>
          <td nzAlign="center">{{ tarefa.horarioFim | date : "HH:mm" }}</td>
          <td nzAlign="center">{{ tarefa.duracao }}</td>
          <td nzAlign="center">{{ tarefa.data | date : "dd/MM/yyyy" }}</td>
          <td nzAlign="center">{{tarefa.projeto?.descricao}}</td>
          <td nzAlign="center">
            <button nz-button nzType="primary" nzSize="small" (click)="visualizar(tarefa.id)">
              <span nz-icon nzType="eye" nzTheme="outline"></span>
            </button>

            <button nz-button nzType="default" nzTheme="outline" nzSize="small" (click)="editar(tarefa.id)">
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>

            <button nz-button nzType="primary" nzDanger nzSize="small" nzTheme="outline" (click)="deletar(tarefa.id)">
              <span nz-icon nzType="delete"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-spin>

  <div nz-row style="margin-top: 10px">
    <div nz-col nzXs="48" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
      <button nz-button nzType="primary" style="margin-right: 10px" (click)="adicionarTarefa()">
        Adicionar Tarefa <Span nz-icon nzType="plus"></Span>
      </button>
      <button nz-button nzType="default" (click)="showModal()">
        Calcular Horas
      </button>
    </div>
  </div>
</nz-card>
