nz-range-picker,
nz-date-picker,
nz-select,
nz-time-picker {
  width: 100%;
}

.row-filter-style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button-filter {
  margin-top: 5px;
}
