:host ::ng-deep .avatar-uploader > .ant-upload {
  width: 100%;
  max-width: 350px;
  height: 250px;
}

:host ::ng-deep .ant-upload-text{
  margin-left: 5px;
}

.perfil{
  height: 100vh;
  max-height: 250px;
  width: 100%;
}

.preview{
  width: 100vw;
  height: 100vh;
}

.img_perfil{
  width: 10vw;
  height: 20vh;
}

.card{
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 50px;
}

.card > nz-card{
  width: 500px;
  border-radius: 10px;
}

.SaveEdit{
 float: right;
}
